In [763]:
import pandas as pd
import numpy as np

In [764]:
data = pd.read_csv('code_blocks.csv', sep='\t')
data.head()

,Unnamed: 0,code_block,tag
0,0,\nimport pandas as pd\nimport matplotlib.pyplo...,['invite people for the kaggle party']
1,1,"\ndf_train = pd.read_csv('../input/train.csv'),",['bring in the six packs']
2,2,"\ndf_train.columns,",['check the decoration']
3,3,"\ndf_train['SalePrice'].describe(),",['descriptive statistics summary']
4,4,"sns.distplot(df_train['SalePrice']);,",['histogram']

In [765]:
data['tag'].nunique()

86113

In [766]:
data['tag'].shape

(179773,)

In [767]:
my_string = data.loc[111, 'tag']
my_string

'a id2a br\n matplotlib\nmatplot is a python library that help us to plot data the easiest and basic plots are line scatter and histogram plots\n line plot is better when x axis is time\n scatter is better when there is correlation between two variables\n histogram is better when we need to see distribution of numerical data\n customization colorslabelsthickness of line title opacity grid figsize ticks of axis and linestyle  '

In [768]:
lst = list(map(str, my_string.split("', '")))
if lst[-1] == "']":
    lst.pop()
lst

['a id2a br\n matplotlib\nmatplot is a python library that help us to plot data the easiest and basic plots are line scatter and histogram plots\n line plot is better when x axis is time\n scatter is better when there is correlation between two variables\n histogram is better when we need to see distribution of numerical data\n customization colorslabelsthickness of line title opacity grid figsize ticks of axis and linestyle  ']

In [769]:
from tqdm import tqdm

In [770]:
all_to_del = set(['', "['']", ' ', '  ', "[' ']", '        ', '     ', '    ', '   ', "['', ' ']", '       ', '      ', \
             '             ', '         ', '          ', "']",\
                 "['   ", "['", "[' ", "['  ", "['    ", "['    "])

In [771]:
rows_to_del = []

In [772]:
for i in tqdm(range(data.shape[0])):
    my_string = data.loc[i, 'tag']
    
    if (my_string is not np.nan) and my_string is not None:
        min_len = len(data.loc[i, 'tag']) + 10
        min_el = None
        s = set(list(map(str, my_string.split("', '"))))

        for el in s:
            if el not in all_to_del and len(el) < min_len:
                min_len = len(el)
                min_el = el

        if min_el is not None:
            data.loc[i, 'tag'] = min_el
        else:
            rows_to_del.append(i)
    else:
        rows_to_del.append(i)

100%|██████████| 179773/179773 [27:29<00:00, 108.97it/s]

In [773]:
data.shape

(179773, 3)

In [774]:
data = data.drop(rows_to_del)

In [775]:
data.shape

(177039, 3)

In [776]:
data = data.reset_index()

In [777]:
import re
def clear_tag(tag):
    tag = tag.replace(' ', '_')
    return re.sub('[^A-Za-z0-9_]+', '',tag) #remove spaces and

In [778]:
data['tag'] = list(map(clear_tag, data['tag']))
data

,index,Unnamed: 0,code_block,tag
0,0,0,\nimport pandas as pd\nimport matplotlib.pyplo...,invite_people_for_the_kaggle_party
1,1,1,"\ndf_train = pd.read_csv('../input/train.csv'),",bring_in_the_six_packs
2,2,2,"\ndf_train.columns,",check_the_decoration
3,3,3,"\ndf_train['SalePrice'].describe(),",descriptive_statistics_summary
4,4,4,"sns.distplot(df_train['SalePrice']);,",histogram
...,...,...,...,...
177034,179768,1,"def count_keywords(text, keywords):\n '''\n...",_rank_studies_by_relevancy_to_the_subtask
177035,179769,2,"def get_cluster(text, regex, keywords=None):\n...",_extract_age_phrases
177036,179770,3,"\nnlp = pipeline('feature-extraction', \n ...",_extract_age_phrases
177037,179771,4,vectors_age = {\n k: [np.array(nlp(phrase))...,_format_the_output
177038,179772,5,plot_df = pd.DataFrame(np.array(vectors_num))\...,_optional_code_to_produce_the_tsne_plot

In [781]:
def clear_first(tag):
    if tag is not np.nan and tag is not None \
            and len(tag) > 0 and tag[0] == '_':
        return tag[1:]
    else:
        return tag

In [782]:
data['tag'] = list(map(clear_first, data['tag']))
data

,index,Unnamed: 0,code_block,tag
0,0,0,\nimport pandas as pd\nimport matplotlib.pyplo...,invite_people_for_the_kaggle_party
1,1,1,"\ndf_train = pd.read_csv('../input/train.csv'),",bring_in_the_six_packs
2,2,2,"\ndf_train.columns,",check_the_decoration
3,3,3,"\ndf_train['SalePrice'].describe(),",descriptive_statistics_summary
4,4,4,"sns.distplot(df_train['SalePrice']);,",histogram
...,...,...,...,...
177034,179768,1,"def count_keywords(text, keywords):\n '''\n...",rank_studies_by_relevancy_to_the_subtask
177035,179769,2,"def get_cluster(text, regex, keywords=None):\n...",extract_age_phrases
177036,179770,3,"\nnlp = pipeline('feature-extraction', \n ...",extract_age_phrases
177037,179771,4,vectors_age = {\n k: [np.array(nlp(phrase))...,format_the_output
177038,179772,5,plot_df = pd.DataFrame(np.array(vectors_num))\...,optional_code_to_produce_the_tsne_plot

In [783]:
data.shape

(177039, 4)

In [784]:
data = data[data['tag'] != '']
data = data[data['tag'] != '_']
data = data[data['tag'] != '__']
data = data[data['tag'] != '___']
data = data[data['tag'] != '____']
data = data[data['tag'] != '_____']

In [785]:
data.shape

(176277, 4)

In [786]:
from collections import Counter

mc = Counter(data['tag']).most_common(1000)

In [787]:
strange_to_del = []

In [788]:
for el in tqdm(mc):
    if data[data['tag']==el[0]]['code_block'].nunique() < 10:
        strange_to_del.append(el[0])

100%|██████████| 1000/1000 [00:10<00:00, 93.88it/s]

In [789]:
for el in tqdm(strange_to_del):
    data = data[data['tag'] != el]

100%|██████████| 141/141 [00:04<00:00, 32.74it/s]

In [790]:
data.shape

(167326, 4)

In [792]:
Counter(data['tag']).most_common(50)

[('linear_algebra', 2589),
 ('plotting', 1983),
 ('correlation_matrix', 1958),
 ('specify_none_if_want_to_read_whole_file', 1644),
 ('create_x', 545),
 ('check_your_answer', 530),
 ('model', 463),
 ('fit_rfmodelonfulldata_on_all_data_from_the_training_data', 429),
 ('your_code_here', 397),
 ('just_uncomment_them', 393),
 ('feature_engineering', 383),
 ('preprocessing', 363),
 ('submission', 352),
 ('set_up_code_checking', 347),
 ('read_the_data', 339),
 ('load_data', 280),
 ('random_forest', 257),
 ('training', 256),
 ('prediction', 248),
 ('check_your_answers', 211),
 ('data', 194),
 ('plot', 189),
 ('eda', 186),
 ('visualization', 179),
 ('predict', 175),
 ('imports', 170),
 ('data_visualization', 163),
 ('train', 162),
 ('data_preprocessing', 160),
 ('xgboost', 157),
 ('use_the_next_code_cell_to_print_the_first_five_rows_of_the_data', 157),
 ('blend', 155),
 ('model_building', 155),
 ('save_test_predictions_to_file', 147),
 ('data_cleaning', 144),
 ('test', 140),
 ('the_expected_result_may_be_negative_because_the_loss_function_is_msebecauserestore_by_taking_an_absolute_value',
  139),
 ('modelling', 133),
 ('exploratory_data_analysis', 132),
 ('input', 131),
 ('check_your_answer_run_this_code_cell_to_receive_credit', 131),
 ('import_data', 130),
 ('define_and_fit_model', 129),
 ('logistic_regression', 127),
 ('generate_test_predictions', 127),
 ('lines_below_will_give_you_a_hint_or_solution_code', 127),
 ('main_method', 124),
 ('have_missing_values', 123),
 ('process_queries', 122),
 ('lets_split_our_data_into_trainval', 116)]

In [793]:
wtf = data[data['tag'].str.len() < 75]

In [794]:
print(wtf.shape)
print(wtf['tag'].nunique())

(128448, 4)
47511

In [795]:
Counter(wtf['tag']).most_common(50)

[('linear_algebra', 2589),
 ('plotting', 1983),
 ('correlation_matrix', 1958),
 ('specify_none_if_want_to_read_whole_file', 1644),
 ('create_x', 545),
 ('check_your_answer', 530),
 ('model', 463),
 ('fit_rfmodelonfulldata_on_all_data_from_the_training_data', 429),
 ('your_code_here', 397),
 ('just_uncomment_them', 393),
 ('feature_engineering', 383),
 ('preprocessing', 363),
 ('submission', 352),
 ('set_up_code_checking', 347),
 ('read_the_data', 339),
 ('load_data', 280),
 ('random_forest', 257),
 ('training', 256),
 ('prediction', 248),
 ('check_your_answers', 211),
 ('data', 194),
 ('plot', 189),
 ('eda', 186),
 ('visualization', 179),
 ('predict', 175),
 ('imports', 170),
 ('data_visualization', 163),
 ('train', 162),
 ('data_preprocessing', 160),
 ('xgboost', 157),
 ('use_the_next_code_cell_to_print_the_first_five_rows_of_the_data', 157),
 ('blend', 155),
 ('model_building', 155),
 ('save_test_predictions_to_file', 147),
 ('data_cleaning', 144),
 ('test', 140),
 ('modelling', 133),
 ('exploratory_data_analysis', 132),
 ('input', 131),
 ('check_your_answer_run_this_code_cell_to_receive_credit', 131),
 ('import_data', 130),
 ('define_and_fit_model', 129),
 ('logistic_regression', 127),
 ('generate_test_predictions', 127),
 ('lines_below_will_give_you_a_hint_or_solution_code', 127),
 ('main_method', 124),
 ('have_missing_values', 123),
 ('process_queries', 122),
 ('lets_split_our_data_into_trainval', 116),
 ('changing_the_orders', 114)]

In [796]:
# all_to_del

In [797]:
for to_del in all_to_del:
    wtf = wtf[wtf['tag'] != to_del]

In [844]:
print(wtf.shape)
print(wtf['tag'].nunique())

(18366, 4)
50

In [799]:
47511 - 50

47461

In [845]:
least_c_tags = set(Counter(wtf['tag']).most_common()[-40:])

In [846]:
for el in tqdm(least_c_tags):
    wtf = wtf[wtf['tag'] != el[0]]

100%|██████████| 40/40 [00:00<00:00, 250.70it/s]

In [847]:
print(wtf.shape)
print(wtf['tag'].nunique())

(10931, 4)
10

In [804]:
ready_data = \
wtf.reset_index().drop(columns=['index', 'Unnamed: 0'], axis=1)

In [805]:
ready_data = ready_data.drop(columns=['level_0'], axis=1)

In [827]:
Counter(ready_data['tag']).most_common(10)

[('linear_algebra', 2588),
 ('plotting', 1982),
 ('correlation_matrix', 1957),
 ('specify_none_if_want_to_read_whole_file', 1644),
 ('create_x', 545),
 ('check_your_answer', 530),
 ('model', 463),
 ('fit_rfmodelonfulldata_on_all_data_from_the_training_data', 429),
 ('your_code_here', 397),
 ('just_uncomment_them', 393)]

Соотношения train, test, val = 9 / 1 / 1

In [811]:
18359 / 11

1669.0

In [812]:
18366 - 18359

7

In [813]:
ready_data = ready_data.drop(ready_data.tail(7).index)

In [814]:
ready_data.shape[0] / 11

1669.0

Разделил как 8 / 1.5 / 1.5, то есть размер трейна:

In [815]:
1669.0 * 8

13352.0

In [816]:
# https://stackoverflow.com/questions/40829137/stratified-train-validation-test-split-in-scikit-learn

from sklearn.model_selection import StratifiedShuffleSplit
SEED = 42001

split = StratifiedShuffleSplit(n_splits=1, test_size=3/11, random_state=SEED)
for train_index, test_valid_index in split.split(\
                                                 ready_data.drop('tag', axis=1), \
                                                 ready_data['tag']\
                                                ):
    train_set = ready_data.iloc[train_index]
    test_valid_set = ready_data.iloc[test_valid_index]

split2 = StratifiedShuffleSplit(n_splits=1, test_size=0.5, random_state=SEED)
for test_index, valid_index in split2.split(test_valid_set, test_valid_set['tag']):
    test_set = test_valid_set.iloc[test_index]
    valid_set = test_valid_set.iloc[valid_index]

In [817]:
train_set = train_set.reset_index()
test_set = test_set.reset_index()
valid_set = valid_set.reset_index()

In [818]:
def add_tabs(exmpl):
    new_exmpl = str()
    for i in range(len(exmpl)):
        if (exmpl[i]=='\n'):
            new_exmpl += '\n\t'
        else:
            new_exmpl += exmpl[i]
    return new_exmpl

train

In [822]:
for i in range(train_set.shape[0]):
        exmpl = train_set.loc[i]['code_block'][:-1]
        exmpl = add_tabs(exmpl)
        print('def ' + str(train_set.loc[i]['tag'])+'():\n\t' + exmpl
              ,  file=open('/home/kirill/code2vec/cd2vec/python/my_train/func'+str(i)+'.py', 'w'))

test

In [823]:
for i in range(test_set.shape[0]):
        exmpl = test_set.loc[i]['code_block'][:-1]
        exmpl = add_tabs(exmpl)
        print('def ' + str(test_set.loc[i]['tag'])+'():\n\t' + exmpl
              ,  file=open('/home/kirill/code2vec/cd2vec/python/my_test/func'+str(i)+'.py', 'w'))

valid

In [824]:
for i in range(valid_set.shape[0]):
        exmpl = valid_set.loc[i]['code_block'][:-1]
        exmpl = add_tabs(exmpl)
        print('def ' + str(valid_set.loc[i]['tag'])+'():\n\t' + exmpl
              ,  file=open('/home/kirill/code2vec/cd2vec/python/my_val/func'+str(i)+'.py', 'w'))

шагов_на_эпоху  --  (all_examples_size / batch_size)
эпох  --  epochs_num
размер_бача  --  batch_size

нужно чтобы не сломалось уметь делать:
(шагов_на_эпоху * эпох) шт. батчей, 

то есть:
(all_examples_size / batch_size * epoch_num) шт. батчей

то есть:
(all_exaples_size * epoch_num) данных

In [281]:
(12936 / 128) * 15 * 128

194040.0

In [277]:
(2425 / 16) * 10 * 16

24250.0

________________________

In [39]:
data = pd.read_csv('chunks_30_tags.csv')
data.head()

,code,tag_import_output,tag_visualization
0,import matplotlib.pyplot as plt\r\nimport seab...,1,1
1,"cols = ['SalePrice', 'OverallQual', 'GrLivArea...",1,1
2,"res = stats.probplot(df_train['TotalBsmtSF'], ...",1,1
3,age_null_count = dataset['Age'].isnull().s...,0,0
4,dataset['Fare'] = dataset['Fare'].astype(i...,0,1

In [43]:
data.drop('tag_visualization', axis=1, inplace=True)

In [44]:
data.shape

(41055, 2)

In [45]:
exmpl = data.loc[4]['code']
len(exmpl)

1633

In [46]:
exmpl

"    dataset['Fare'] = dataset['Fare'].astype(int)\r\n    \r\n    \r\n    dataset.loc[ dataset['Age'] = 16, 'Age'] ttttt       = 0\r\n    dataset.loc[(dataset['Age']  16)  (dataset['Age'] = 32), 'Age'] = 1\r\n    dataset.loc[(dataset['Age']  32)  (dataset['Age'] = 48), 'Age'] = 2\r\n    dataset.loc[(dataset['Age']  48)  (dataset['Age'] = 64), 'Age'] = 3\r\n    dataset.loc[ dataset['Age']  64, 'Age'] = 4 ;,drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp']\r\ntrain = train.drop(drop_elements, axis = 1)\r\ntrain = train.drop(['CategoricalAge', 'CategoricalFare'], axis = 1)\r\ntest  = test.drop(drop_elements, axis = 1),train.head(3),colormap = plt.cm.RdBu\r\nplt.figure(figsize=(14,12))\r\nplt.title('Pearson Correlation of Features', y=1.05, size=15)\r\nsns.heatmap(train.astype(float).corr(),linewidths=0.1,vmax=1.0, \r\n            square=True, cmap=colormap, linecolor='white', annot=True),g = sns.pairplot(train[[u'Survived', u'Pclass', u'Sex', u'Age', u'Parch', u'Fare', u'Embarked',\r\n       u'FamilySize', u'Title']], hue='Survived', palette = 'seismic',size=1.2,diag_kind = 'kde',diag_kws=dict(shade=True),plot_kws=dict(s=10) )\r\ng.set(xticklabels=[]),ntrain = train.shape[0]\r\nntest = test.shape[0]\r\nSEED = 0 \r\nNFOLDS = 5 \r\nkf = KFold(ntrain, n_folds= NFOLDS, random_state=SEED)class SklearnHelper(object):\r\n    def __init__(self, clf, seed=0, params=None):\r\n        params['random_state'] = seed\r\n        self.clf = clf(**params)    def train(self, x_train, y_train):\r\n        self.clf.fit(x_train, y_train)    def predict(self, x):\r\n        return self.clf.predict(x)\r\n    \r\n    def fit(self,x,y):\r\n        return self.clf.fit(x,y)"

In [49]:
'def ' + str(data.loc[4]['tag_import_output'])+':' + exmpl

"def 0:    dataset['Fare'] = dataset['Fare'].astype(int)\r\n    \r\n    \r\n    dataset.loc[ dataset['Age'] = 16, 'Age'] ttttt       = 0\r\n    dataset.loc[(dataset['Age']  16)  (dataset['Age'] = 32), 'Age'] = 1\r\n    dataset.loc[(dataset['Age']  32)  (dataset['Age'] = 48), 'Age'] = 2\r\n    dataset.loc[(dataset['Age']  48)  (dataset['Age'] = 64), 'Age'] = 3\r\n    dataset.loc[ dataset['Age']  64, 'Age'] = 4 ;,drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp']\r\ntrain = train.drop(drop_elements, axis = 1)\r\ntrain = train.drop(['CategoricalAge', 'CategoricalFare'], axis = 1)\r\ntest  = test.drop(drop_elements, axis = 1),train.head(3),colormap = plt.cm.RdBu\r\nplt.figure(figsize=(14,12))\r\nplt.title('Pearson Correlation of Features', y=1.05, size=15)\r\nsns.heatmap(train.astype(float).corr(),linewidths=0.1,vmax=1.0, \r\n            square=True, cmap=colormap, linecolor='white', annot=True),g = sns.pairplot(train[[u'Survived', u'Pclass', u'Sex', u'Age', u'Parch', u'Fare', u'Embarked',\r\n       u'FamilySize', u'Title']], hue='Survived', palette = 'seismic',size=1.2,diag_kind = 'kde',diag_kws=dict(shade=True),plot_kws=dict(s=10) )\r\ng.set(xticklabels=[]),ntrain = train.shape[0]\r\nntest = test.shape[0]\r\nSEED = 0 \r\nNFOLDS = 5 \r\nkf = KFold(ntrain, n_folds= NFOLDS, random_state=SEED)class SklearnHelper(object):\r\n    def __init__(self, clf, seed=0, params=None):\r\n        params['random_state'] = seed\r\n        self.clf = clf(**params)    def train(self, x_train, y_train):\r\n        self.clf.fit(x_train, y_train)    def predict(self, x):\r\n        return self.clf.predict(x)\r\n    \r\n    def fit(self,x,y):\r\n        return self.clf.fit(x,y)"

In [82]:
a = str()
a += '\n\t'
a[0]

'\n'

In [84]:
def add_tabs(exmpl):
    new_exmpl = str()
    for i in range(len(exmpl)):
        if (exmpl[i]=='\n'):
            new_exmpl += '\n\t'
        else:
            new_exmpl += exmpl[i]
    return new_exmpl

In [92]:
data.loc[data['tag_import_output'] == 1, 'tag_import_output'] = 'import'
data

                                                    code tag_import_output
0      import matplotlib.pyplot as plt\r\nimport seab...            import
1      cols = ['SalePrice', 'OverallQual', 'GrLivArea...            import
2      res = stats.probplot(df_train['TotalBsmtSF'], ...            import
3          age_null_count = dataset['Age'].isnull().s...                 0
4          dataset['Fare'] = dataset['Fare'].astype(i...                 0
...                                                  ...               ...
41050  import random\r\nimport os\r\nimport numpy as ...            import
41051              content = json.load(file)\r\n     ...            import
41052              \r\n            \r\n            ab...            import
41053              phrase = ' '.join(words[idx-4:idx+...            import
41054                 framework='pt')\r\n,vectors_age...            import

[41055 rows x 2 columns]

In [93]:
data.loc[data['tag_import_output'] == 0, 'tag_import_output'] = 'notimport'
data

                                                    code tag_import_output
0      import matplotlib.pyplot as plt\r\nimport seab...            import
1      cols = ['SalePrice', 'OverallQual', 'GrLivArea...            import
2      res = stats.probplot(df_train['TotalBsmtSF'], ...            import
3          age_null_count = dataset['Age'].isnull().s...         notimport
4          dataset['Fare'] = dataset['Fare'].astype(i...         notimport
...                                                  ...               ...
41050  import random\r\nimport os\r\nimport numpy as ...            import
41051              content = json.load(file)\r\n     ...            import
41052              \r\n            \r\n            ab...            import
41053              phrase = ' '.join(words[idx-4:idx+...            import
41054                 framework='pt')\r\n,vectors_age...            import

[41055 rows x 2 columns]

In [94]:
names = ['my_train', 'my_test', 'my_val']
for j in range(len(names)):
    for i in range(j*20, j*20+20):
        exmpl = data.loc[i].values[0]
        exmpl = add_tabs(exmpl)
        print('def func' + str(data.loc[i]['tag_import_output'])+'():\n\t' + exmpl
              ,  file=open('/home/kirill/code2vec/cd2vec/python/'+str(names[j])+'/func'+str(i)+'.py', 'w'))

In [834]:
tokens = pd.read_csv('//home/kirill/code2vec/my_dataset_train/tokens.csv')

In [843]:
tokens[tokens['id'] == 20]

      id   token
3997  20  yvalid

yvalid -> ??? -> finalxtrain